
  .Horizontal-Line {
    width: 100%;
  }
  .Project-Tittles-Container {
    width: 70%;
    margin:auto;
    padding-top: 10px;
  }

  .Each-Project-Tittle {
    width: 90%;
    height: 40px;
    margin: 5px auto;
    border: solid 2px black ;
    border-radius: 4px;
  }

  
  